@import 'node_modules/bootstrap/scss/bootstrap';

h1,
h2,
h3,
h5,
h6,p{
  color: white;
}

h2::after{
  content: '';
  display: block;
  border-bottom: 1px solid grey;
  width: 100px;
  margin: 1rem auto;



}

